include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/feedgen *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/feedgen/migration *.ini *.py *.mako
recursive-include ckanext/feedgen/public *.*
